{% extends 'layout.html'%}

{% block content %}

<style>
body {
	background-color: #fff;
	font-family: 'Comfortaa', cursive;
	line-height: 1.7;
	color: var(--body);
	overflow-x: hidden;
	/* Hide horizontal scrollbar */

}

.navbar{
    margin:auto !important;
}

.some-space {
	margin-top: 20px;
}

.row {
	margin-top: 90px;
}

.content-section {
	background: #ffffff;
	padding: 50px;
	border-radius: 50px 0;
	box-shadow: 0 8px 22px rgba(0, 0, 0, 0.3);
	margin-top: 90px;
}

.account-img {
	height: 125px;
	width: 125px;
	margin-right: 20px;
	margin-bottom: 16px;
}

.account-heading {
	font-size: 2.5rem;
}

#post {
	background-color: var(--accent);
	border-radius: 20px;
	padding: 15px;
}

#post-image {
	width: 300px;
}

.media-body {
	margin: 50px;
}

.dropzone-card {
	box-shadow:0 8px 22px rgba(0, 0, 0, 0.2);
	padding: 10%;
	margin: 40px;
}

</style>

    <div class="row mb-5">
        <div class="col-md-8 mx-auto text-center">
            <h6 class="text-primary">ACCOUNT</h6>
            <h1><span id="typed6"></span></h1>
            <p>
                Click inside the white dropzone and select files you wish to upload.<br>Please comply with website rules
                or you
                will
                be banned!
            </p>
        </div>
    </div>



    <div class="vh-100 align-items-center d-flex justify-content-center">
        <div class="content-section">
            <div class="media me-auto">
                <img class="rounded-circle account-img" src="{{ image_file }}" alt="">
                <div class="media-body">
                    <p class="account-heading">{{ current_user.first_name }}</p>
                    <p class="text-secondary"><i class="fas fa-envelope"></i> {{ current_user.email }}</p>
                </div>
            </div>
            <div class="update-pro">
                <form action="" enctype="multipart/form-data" method="POST">
                    {{ form.hidden_tag() }}
                    <fieldset class="form-group">
                        <legend class="border-bottom mb-4">Account Info</legend>
                        <div class="form-group">
                            {{ form.username.label(class="form-control-label") }}

                            {% if form.username.errors %}
                            {{ form.username(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.username.errors %}
                                <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                            {% else %}
                            {{ form.username(class="form-control form-control-lg") }}
                            {% endif %}
                        </div>
                        <div class="form-group">
                            {{ form.email.label(class="form-control-label") }}
                            {% if form.email.errors %}
                            {{ form.email(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.email.errors %}
                                <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                            {% else %}
                            {{ form.email(class="form-control form-control-lg") }}
                            {% endif %}
                        </div>
                        <div class="form-group" style="margin-top:20px;margin-bottom:15px;">
                            {{ form.picture.label() }}
                            {{ form.picture(class="form-control-file") }}
                            {% if form.picture.errors %}
                            {% for error in form.picture.errors %}
                            <span class="text-danger">{{ error }}</span></br>
                            {% endfor %}
                            {% endif %}
                        </div>
                    </fieldset>
                    <div class="form-group" style="margin:20px;">
                        {{ form.submit(class="btn btn-outline-info") }}
                    </div>
                </form>
            </div>
        </div>
    </div>

<div class="row" style="text-align:center;">
    <div class="some-space"></div>
    <small>
        Designed by <small class="text-primary">hilsCYBER inc.</small>
    </small>
    <div class="some-space"></div>
</div>

<script>
//typed.js
    new Typed('#typed6',{
        strings : ['Update your Account Info.'],
        typeSpeed : 50,
        delaySpeed : 10,
        loop : false,
        showCursor: false
});


</script>

{% endblock content %}