{% extends "layout.html"%}
{%block content%}

<!-- HERO -->
<style>
    .form-controll{
        background-color:rgba(0,0,0,0.6);
        border-radius: 50px;
         text-align: center;
         border:none;
    }

    input[type="text"], textarea{
        border: none;
     }

    form input.form-control{
    height: 60px;
}

.atag:hover{
    color:var(--primary);
}

.brd{
    border:1px solid var(--primary);
    border-radius:50px;
}

</style>
<div class="hero vh-100 d-flex align-items-center" id="home">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 mx-auto text-center">
                <div class="contain typed_wrap mb-2">
                    <h1 class="display-4 text-white" style="text-shadow:2px 2px 5px rgba(0,0,0,0.1);">Find your <p>
                        <span id="typed"></span></p></h1>
                </div>
                <p class="text-white my-3" style="box-shadow:2px 2px 5px rgba(0,0,0,0.3);">
                </p>
                <a class="btn me-2 btn-primary" href="{{ url_for('browse')}}"
                   style="text-shadow:2px 2px 5px rgba(0,0,0,0.1);">Get
                    Started</a>
                {% if not current_user.is_authenticated %}
                <a class="btn btn-outline-light" href="{{url_for('login')}}" id="register"
                   style="text-shadow:2px 2px 5px rgba(0,0,0,0.1);">Log In</a>
                {% endif %}
            </div>
        </div>
    </div>
</div><!-- //HERO -->


<!-- CONTACT -->
<section id="contact">
    <div class="brd m-5 p-5">
        <div class="container">
            <div class="row mb-5">
                <div class="col-md-8 mx-auto text-center">
                    <h6 class="text-primary">CONTACT</h6>
                    <h1>Get In Touch</h1>
                    <p class="text-success">Leave your thoughts down below please.</p>
                </div>
            </div>
            <div class="scroll-review pt-6 text-success">
                <form action="" class="row g-3 justify-content-center">
                    <div class="col-md-5">
                        <input class="form-control" placeholder="Full Name" type="text">
                    </div>
                    <div class="col-md-5">
                        <input class="form-control" placeholder="Enter E-mail" type="text">
                    </div>
                    <div class="col-md-10">
                        <input class="form-control" placeholder="Enter Subject" type="text">
                    </div>
                    <div class="col-md-10">
                    <textarea class="form-control" cols="30" id="" name="" placeholder="Enter Message"
                              rows="5"></textarea>
                    </div>
                    <div class="col-md-10 d-grid">
                        <button class="btn btn-primary">Contact</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section><!-- CONTACT -->

</div>
</div>
<div class="footer-bottom py-3">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <p class="mb-0">© 2022 copyright all rights reserved | Designed by <small class="text-primary">Hilario
                    Nengare.</small>
                </p>
            </div>
            <div class="col-md-6">
                <div class="social-icons">
                    <a href="#"><i class='bx bxl-facebook'></i></a>
                    <a href="#"><i class='bx bxl-twitter'></i></a>
                    <a href="#"><i class='bx bxl-instagram-alt'></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    //typed.js
    new Typed('#typed',{
        strings : ['Apartment', 'Home', 'Office', 'Property'],
        typeSpeed : 45,
        delaySpeed : 10,
        loop : true,
        showCursor: true,
        startDelay: 1200,
		// backspacing speed
		backSpeed: 100,
		// time before backspacing
		backDelay: 500
});




</script>
{%endblock content%}