<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% if title %}
    <title>SR- {{ title }}</title>
    {% else %}
    <title>studentguide.com</title>
    {% endif %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='layout.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='home.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='register.css') }}">
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
    <link rel="apple-touch-icon" sizes="180x180"
          href="{{url_for('static', filename='img/icons/apple-touch-icon.png')}}">
    <link rel="icon" type="image/png" sizes="32x32"
          href="{{url_for('static', filename='img/icons/favicon-32x32.png')}}">
    <link rel="icon" type="image/png" sizes="16x16"
          href="{{url_for('static', filename='img/icons/favicon-16x16.png')}}">
    <link rel="manifest" href="{{url_for('static', filename='img/icons/site.webmanifest')}}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='upload_file.css') }}">
    <script src="https://kit.fontawesome.com/40d3bba8ee.js" crossorigin="anonymous"></script>
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
    <link rel="apple-touch-icon" sizes="180x180"
          href="{{url_for('static', filename='img/icons/apple-touch-icon.png')}}">
    <link rel="icon" type="image/png" sizes="32x32"
          href="{{url_for('static', filename='img/icons/favicon-32x32.png')}}">
    <link rel="icon" type="image/png" sizes="16x16"
          href="{{url_for('static', filename='img/icons/favicon-16x16.png')}}">
    <link rel="manifest" href="{{url_for('static', filename='img/icons/site.webmanifest')}}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.js">
    </script>

    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.js">
    </script>

    <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/ui-lightness/jquery-ui.css"
          rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.7.1/min/dropzone.min.css">

</head>
<body>
<!-- NAVBAR -->
<nav class="navbar navbar-expand-lg py-3 sticky-top navbar-light bg-white">
    <div class="container">
        <a class="navbar-brand text-primary logo" href="{{ url_for('home') }}" style="font-family:segoe script;font-size:30px;">
            studentrental.com
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <div class="nav-icons ms-auto">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{{url_for('home')}}" style="font-size:25px;"><i
                                class='bx bx-home-circle'></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" style="font-size:25px;"><i class='bx bx-compass'></i></a>
                    </li>
                    {% if not current_user.is_authenticated%}
                    <li><a class="nav-link" href="{{url_for('about_page')}}" style="font-size:25px;"><i
                            class='bx bx-help-circle'></i></a></li>
                    {% endif %}
                </ul>
            </div>
            {%if current_user.is_authenticated%}
            <!--Make the icon show-->
            <div class="nav-icons">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item text-primary">
                        <a class="nav-link" href="{{url_for('upload_file')}}" style="font-size:29px;"><i
                                class='bx bx-cloud-upload'></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{url_for('account')}}" style="font-size:25px;"><i
                                class='bx bx-user'></i></a>
                    </li>
                </ul>
            </div>
            <a href="{{ url_for('logout')}}">
                <button class="btn btn-primary ms-lg-3" style="font-size:25px;"><i class='bx bx-log-out-circle'></i>
                </button>
            </a>
            {% else %}

            <a href="{{ url_for('register') }}">
                <button class="btn btn-primary ms-lg-3">Join Us</button>
            </a>
            {% endif %}
        </div>
    </div>
</nav>

<style>
    .feedback{
        margin-top:90px;
        margin:auto;
        margin-bottom:45px;
    }



</style>

{% block content %}
{% endblock %}


<script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.7.1/min/dropzone.min.js"></script>
<script src="js/bootstrap.bundle.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
        integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz"
        crossorigin="anonymous"></script>
</body>
</html>