{% extends "layout.html" %}
{% block content %}
<style>
.containerl {
	width: 100%;
	margin: auto;
}

article,
form {
	width: 70%;
	margin: auto;
	margin-top: 45px;
	margin-bottom: 45px;
}

.fixed{
    background: linear-gradient(to bottom, #33ccff 0%, #ff99cc 100%);
    box-shadow:var(--box-shadow);
    height: 40%;
}

.post-metadata{
    margin-right:75%;
}

.content-section{
    width: 75%;
}

.media-body{
    width:90%;
    min-height:90%;
    margin:auto;
}

.comment-card{
    box-shadow:var(--box-shadow);
    border-radius:30px;
}

.comment-body{
    width:85%;
    margin:auto;
}

hr{
    border-color: var(--primary);
}


.description-wrapper{
    color:;
    display: flex;
	justify-content: left;
}

.article-metadata{
    display: flex;
	justify-content: center;
}

.sizediv{
    height:450px;
}


.item1{
    width:20%;
}


.carousel-control-prev-icon {
 background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%230d6efd' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%230d6efd' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}















</style>

{% if post.author == current_user %}
<div class="mt-5 mb-5">
    <div class="col-md-8 mx-auto text-center">
        <h6 class="text-primary">POST</h6>
        <h1><span id="typed3"></span></h1>
        <p class="text-success">
            Scroll down below to modify or remove your post.
        </p>
    </div>
</div>
{% else %}
<div class="mt-5 mb-5">
    <div class="col-md-8 mx-auto text-center">
        <h6 class="text-primary">POST</h6>
        <h1><span id="typed4"></span></h1>
        <p class="text-success">
            You can click on the contact to save the whatsapp or phone contact.
            Please share this site with others, and thank you again!
        </p>
    </div>
</div>
{% endif %}
<article class="media content-section">
    <div class="ml-2 mb-3">

    </div>
    <br>
    <img class="rounded-circle article-img"
         src="{{ url_for('static', filename='profile_pics/' + post.author.profile_image) }}">
    <div class="media-body">
        <br>
        <div>
            <small class="text-muted">
                Posted on <a class="text-primary">{{ post.timestamp.strftime('%d-%m-%Y')
                }}</a> at <a class="text-primary">{{post.timestamp.strftime('%H:%M')}}</a> by {{
                post.author.username
                }}
            </small>
        </div>
        <br>
        <h5> House Images </h5>
        <hr>
        <div class="carousel slide" data-bs-ride="carousel" id="carouselExampleControls">
            <div class="carousel-inner sizediv">
                {% for file_url in urls %}
                <div class="carousel-item active text-center">
                    <img alt="..." class="d-block w-100"
                         src="{{ url_for('static', filename='uploads/' + file_url) }}"
                         style="height:95%;">
                </div>
                {% endfor %}
            </div>
            <button class="carousel-control-prev" data-bs-slide="prev" data-bs-target="#carouselExampleControls"
                    type="button">
                <span aria-hidden="true" class="carousel-control-prev-icon"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" data-bs-slide="next" data-bs-target="#carouselExampleControls"
                    type="button">
                <span aria-hidden="true" class="carousel-control-next-icon"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
        <hr>
        <div class="article-metadata d-flex justify-content-between text-success p-3">
            <address>
                <i class='bx bx-current-location'></i> {{ post.location }}
            </address>
            <a>
                <i class='bx bxl-whatsapp'></i> {{ post.whatsapp }}
            </a>
            <a>
                <i class='bx bxs-phone-incoming'></i> {{ post.phone_number }}
            </a>
            <a>
                <i class='bx bxs-city'></i> {{ post.city }}
            </a>
        </div>
        <hr>
        <h5> About House </h5>
        <div class="description-wrapper text-success">
            <blockquote class="article-content">{{ post.description }}</blockquote>
        </div>
        <h5 class="mt-3"> Statistics </h5>
        <div class="likes d-flex justify-content-start m-5 ">
            {% if current_user.has_liked_post(post) %}

            <a href="{{ url_for('like_action', post_id=post.id, action='unlike') }}"
               style="font-size:20px;"><i
                    class='bx bx-dislike'></i>
            </a>
            <div class="m-2"></div>
            <a href="{{ url_for('like_action', post_id=post.id, action='like') }}"
               style="font-size:20px;"><i
                    class='bx bxs-like'></i></a>
            <div class="m-2"></div>
            {{ post.likes.count() }} likes |
            <div class="m-2"></div>
            <a class="mr-2" style="font-size:20px;"><i class='bx bx-chat'></i> </a> {{ post.comments.count() }} comments

            {% else %}

            <a href="{{ url_for('like_action', post_id=post.id, action='like') }}"
               style="font-size:20px;"><i
                    class='bx bxs-dislike'></i>
            </a>
            <div class="m-2"></div>
            <a href="{{ url_for('like_action', post_id=post.id, action='like') }}"
               style="font-size:20px;"><i class='bx bx-like'></i>
            </a>
            <div class="m-2"></div>
            {{ post.likes.count() }} likes |
            <div class="m-2"></div>
            <a class="mr-2" style="font-size:20px;"><i class='bx bx-chat'></i> </a>
            {{ post.comments.count() }} comments
            {% endif %}
        </div>

        <div class="mr-5 mb-5 mt-5">
            <h5>
                Comments ({{ post.comments.count() }})
            </h5>
        </div>
        {% if current_user.is_authenticated %}
        <form action="" method="POST">
            {{ form.hidden_tag() }}

            <div class="row">
                <div class="col-sm-9">
                    <div class="form-group">
                        {% if form.comment.errors %}
                        {{ form.comment(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.comment.errors %}
                            <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                        {% else %}
                        {{ form.comment(class="form-control form-control-lg comment") }}
                        {% endif %}
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group d-flex justify-content-center mt-3">
                        {{ form.submit(class="btn btn-outline-success") }}
                    </div>
                </div>
            </div>
        </form>
        {% else %}
        <div class="m-5">
            <small><a href="{{url_for('login')}}">Log in to add a comment...</a></small>
        </div>
        {% endif %}
        {% for comment in comments %}
        <div class="comment-card">
            <a class="pull-left" href="#"> <img class="rounded-circle article-img"
                                                src="{{ url_for('static', filename='profile_pics/' + comment.author.profile_image) }}"></a>
            <div class="mr-auto p-2 text-muted">
                <small class="media-heading">{{
                    comment.author.username
                    }} commented on <a class="text-primary">{{ comment.timestamp.strftime('%d-%m-%Y')
                        }}</a> at <a class="text-primary">{{comment.timestamp.strftime('%H:%M')}}</a>
                </small>
            </div>
            <div class="comment-body text-success">
                <small>
                    <p>
                        {{ comment.body }}
                    </p>
                </small>
            </div>
        </div>
        {% endfor %}
        <div class="row">
            {% if post.author == current_user %}
            <div class="delete-edit d-flex justify-content-end">
                <a class="btn btn-outline-secondary btn-sm mt-1 mb-1"
                   href="#" style="font-size:25px;"><i class='bx bxs-edit'></i></a>
                <button class="btn btn-outline-danger btn-sm m-1" data-target="#deleteModal" data-toggle="modal"
                        style="font-size:25px;" type="button"><i class='bx bx-trash'></i>
                </button>
            </div>

            {% endif %}
        </div>
    </div>
</article>
<!-- Modal -->
<div aria-hidden="true" aria-labelledby="deleteModalLabel" class="modal fade" id="deleteModal" role="dialog"
     tabindex="-1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Delete Post?</h5>
                <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" data-dismiss="modal" type="button">Close</button>
                <form action="{{ url_for('delete_post', post_id=post.id) }}" method="POST">
                    <input class="btn btn-danger" type="submit" value="Delete">
                </form>
            </div>
        </div>
    </div>
</div>


<div class="mt-5 mb-5" style="text-align:center;">
    <small>
        Designed by <small class="text-primary">hilsCYBER inc.</small>
    </small>
</div>

<script>
//typed.js
    new Typed('#typed3',{
        strings : ['Update or Delete Post.'],
        typeSpeed : 70,
        delaySpeed : 10,
        loop : false,
        showCursor: false
});














</script>

<script>

    new Typed('#typed4',{
        strings : ['Like and Comment.'],
        typeSpeed : 70,
        delaySpeed : 10,
        loop : false,
        showCursor: false
});























</script>

{% endblock content %}