{% extends "layout.html" %}
{% block content %}
<style>

.containerl {
	width: 100%;
	margin: auto;
}

article,
form {
	width: 70%;
	margin: auto;
	margin-top: 45px;
	margin-bottom: 45px;
}

.post-metadata{
    margin-right:75%;
}

.contact-info{

}





</style>


<article class="media content-section">
    <img class="rounded-circle article-img"
         src="{{ url_for('static', filename='profile_pics/' + post.author.profile_image) }}">
    <div class="media-body">
        <div class="article-metadata">
            <a class="mr-2" href="#">{{ post.author.username }}</a>
            <small class="text-muted">{{ post.timestamp.strftime('%Y-%m-%d') }}</small>
            {% if post.author == current_user %}
            <div>
                <a class="btn btn-secondary btn-sm mt-1 mb-1"
                   href="#">Update</a>
                <button type="button" class="btn btn-danger btn-sm m-1" data-toggle="modal"
                        data-target="#deleteModal">Delete
                </button>
            </div>
            {% endif %}
        </div>
        <img src="" alt="images here!">
        <p class="article-content">{{ post.description }}</p>
    </div>
</article>
<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Delete Post?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <form action="#" method="POST">
                    <input class="btn btn-danger" type="submit" value="Delete">
                </form>
            </div>
        </div>
    </div>
</div>


<div class="mt-5 mb-5" style="text-align:center;">
    <small>
        Designed by <small class="text-primary">hilsCYBER inc.</small>
    </small>
</div>
<script>
//typed.js
new Typed('#typed3',{
     strings : ['Upload image files.'],
     typeSpeed : 70,
     delaySpeed : 10,
     loop : false,
     showCursor: false
});






</script>

{% endblock content %}