{% extends "layout.html" %}
{% block content %}

<div class="outtacard py-5 subhero">
    <div class="col-md-10 offset-md-1 logincard mb-3 mt-5">
        <form action="" method="POST">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Reset Password</legend>
                <div class="form-group">
                    {{ form.email.label(class="form-control-label") }}
                    {% if form.email.errors %}
                    {{ form.email(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.email.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.email(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
            </fieldset>
            <div class="form-group mt-4 d-flex justify-content-center">
                {{ form.submit(class="btn btn-outline-success") }}
            </div>
        </form>
    </div>
</div>
<div class="mt-5 mb-5" style="text-align:center;">
    <small>
        Designed by <small class="text-primary">hilsCYBER inc.</small>
    </small>
</div>

{% endblock content %}
