{% extends 'layout.html'%}

{% block content %}

<style>
.dropzone-card {
	background-color: #fff;
	padding: 10%;
	margin: 40px;
	box-shadow:0 8px 22px rgba(0,0,0,0.2);
}

.some-space {
	margin-top: 20px;
}

.nav-icons{
    font-size:20px;
}

.row {
	margin-top: 90px;
}

.containerl {
	width: 100%;
	margin: auto;
}

.img{
    box-shadow:0 8px 22px rgba(0,0,0,0.2);
}

.containerl {
	width: 100%;
	margin: auto;
}

.outtacont,
form {
	width: 70%;
	margin: auto;
	margin-top: 45px;
	margin-bottom: 45px;
}

input[type="text"],
textarea {
	border: 1px solid white;
	background-color: rgba(0, 0, 0, 0.1);
	border-radius: 50px 25px;
}

.btno {
	margin-top: 15px;
}

.center{
    width:32%;
    margin:auto;
}

.btn{
    margin-left:90px;
    padding: 14px 18px;
    border-width: 2px;
    border-radius: 50px 25px;
    border: 1px dashed #0d6efd;
}

label {
   cursor: pointer;
   /* Style as you please, it will become the visible UI component. */
}

label:hover{
    color:#21252f !important;
}

#upload-photo {
   opacity: 0;
   position: absolute;
   z-index: -1;
}
</style>

<div class="containerl">
    <div class="row mb-5">
        <div class="col-md-8 mx-auto text-center">
            <h6 class="text-primary">POST</h6>
            <h1>Upload image files.</h1>
            <p>
                Click inside the white dropzone and select files you wish to upload.<br>Please comply with website rules
                or you
                will
                be banned!
            </p>
        </div>
    </div>


<div class="center">
    <form method="POST" action="" enctype="multipart/form-data">
        <label class="text-primary" for="upload-photo">Click here to choose files to upload!</label>
        <p><input type="file" name="file" id="upload-photo"></p>
        <p><input class="btn" type="submit" value="Add"></p>
    </form>
</div>

    <div class="dropzone-card">
        {% for file in files %}
        <img class="image" src="{{ url_for('static', filename='uploads/'+file) }}" style="width: 100px;margin:15px;">
        {% endfor %}
    </div>
    <p><button>Done</button></p>

    <div class="row" style="text-align:center;">
        <div class="some-space"></div>
        <small>
            Designed by <small class="text-primary">hilsCYBER inc.</small>
        </small>
        <div class="some-space"></div>
    </div>
</div>

{% endblock content %}